.manu
    background-color: #8B0000
.x
    float: right
    list-style: none
    font-size: 20px
    width: 190px
    
	
    
.xx
    list-style: none
    background-color: #8B4513
    font-size: 20px
    float: right
.xx:hover
    background-color: #A0522D
 	

    

