.manu
    background-color: #8B0000
.x
    float: right
    list-style: none
    font-size: 20px
    width: 190px
    
	
    
.xx
    float: right

.z
    float: right
    margin-right: 30px
    margin-top: 23px
    color: #fff
.zz
    float: left
    margin-left: 30px
    margin-top: 23px
    color: #fff
    

